*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 20px;
  max-width: 340px;
  margin:30px auto;
}
.card {
    background-color: #333;
  border: 1px solid #333;
  border-radius: 10px 10px 0 0;
  width: 150px;
}
.card h5 {
  background-color: aliceblue;
  margin: 0;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  height: 80px;
}
.card p {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: 5px;
  max-width: 40px;
  margin: 15px auto 15px 15px;
  color: #fff;
}
.card span {
  font-size: 10px;
  text-transform: uppercase;
}
